.item {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 12px;
  gap: 10px;
  border-top: 1px solid #f7f7f7;
}

.item__field,
.item__name,
.item__rating {
  display: flex;
  align-items: center;
  color: #acacac;
  word-break: break-all;
}

.item__name {
  font-weight: 700;
  color: var(--main-blue-color);
}

.item__rating {
  justify-content: space-between;
}

.item-delete__btn {
  position: relative;
  margin-right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.item-delete__img {
  height: 16px;
}

@media (max-width: 500px) {
  .item-delete__btn {
    margin-right: 0;
  }
}

@media (hover: hover) {
  .item-delete__btn:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0.4;
    content: "";
  }
}
