.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 12px;
}

.item-field,
.item-name,
.item-rating {
  display: flex;
  align-items: center;
}

.item-name {
  font-weight: 700;
  color: var(--main-blue-color);
}

.item-rating {
  justify-content: space-between;
}

.item-delete-btn {
  margin-right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.item-delete-img {
  height: 16px;
}
