.search {
  margin: 25px;
  padding: 12px 44px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 18px 15px 0px #94949426;
}

.search-input__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #eceff0;
  border-radius: 5px;
}

.search__input {
  width: 100%;
  background: transparent;
  border: none;
  font-family: "Inter";
  color: #4f4f4f;
}

.search__input::placeholder {
  color: var(--text-gray-color);
}

.search__input:focus {
  outline: none;
}

.search-input__img {
  height: 25px;
  width: 25px;
}

.clean__btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-start;
  background: transparent;
  border: none;
  cursor: pointer;
}

.clean-btn__img {
  height: 16px;
  width: 16px;
}

.clean-btn__text {
  font-size: 12px;
  color: #4f4f4f;
}

@media (max-width: 500px) {
  .search {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 16px;
  }
}

@media (hover: hover) {
  .clean__btn:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0.4;
    content: "";
  }
}
