:root {
  --main-blue-color: #0cb4f1;
  --text-gray-color: #9eaab4;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

body {
  background-color: #f7f7f7;
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 12px;
  margin-left: 25px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .header {
    margin-left: 10px;
  }
}
