.sort {
  margin: 72px 25px 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: var(--text-gray-color);
}

.sort__item {
  border-bottom: 1px dashed var(--text-gray-color);
  cursor: pointer;
}

.sort__item--active {
  color: #333;
  border-color: #333;
}

@media (max-width: 500px) {
  .sort {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (hover: hover) {
  .sort__item:hover {
    opacity: 0.6;
  }
}
